name: package
on: [push,workflow_dispatch]
jobs:
  build:
    if: github.ref_name=='master'
    runs-on: ubuntu-latest
    steps:
      - name: checkout source
        uses: actions/checkout@master
      - name: move
        run: |
          mkdir $GITHUB_WORKSPACE/src
          mv $GITHUB_WORKSPACE/@LiteLoaderLibs $GITHUB_WORKSPACE/src/@LiteLoaderLibs
      - name: compress
        uses: jossydevers/minify-js@v1.0.0
        with:
          directory: './src'
      - name: upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: LiteLoaderLibs
          path: |
            src
            !**/jsconfig.json
