name: release
on: [workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: checkout source
      uses: actions/checkout@master
    - name: rename
      run: |
        mv $GITHUB_WORKSPACE/src $GITHUB_WORKSPACE/@LiteLoaderLibs
        mkdir $GITHUB_WORKSPACE/src
        mv $GITHUB_WORKSPACE/@LiteLoaderLibs $GITHUB_WORKSPACE/src/@LiteLoaderLibs
    - name: upload artifact
      uses: actions/upload-artifact@v3
      with:
        name: LiteLoaderLibs
        path: |
          src
          !src/@LiteLoaderLibs/jsconfig.json
